/*...................................................RESET DO CSS...............................................................*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;  
}

/*................................................INICIO DO CSS GERAL.............................................................*/
body{
    background-color: cadetblue;
}

.cabecalho{
  
}

.logo{
    width: 150px;
    height: 150px;
    margin-left: 250px;
}


nav{
    text-align: right;
    
}

a{
    color: aliceblue;
    margin: 2%;
}

.conteudo1{
    font-size: 1.5rem;
   
}
.corpo{
    width: 350px;
    height: 300px;
    
}

.conteudo2{
    text-align: center;
}

footer{
    text-align: center;
}