/* RESET CCSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #27232f 16.62%, #528e86 85.61%);
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #fff2e7;
    padding: 24px 24px 0px 24px;
}