/* RESET TODO CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* INÍCIO DO CSS GERAL */

body {
    background-color: rgb(42, 54, 54);
}

.conteudo {
    background-color: rgb(87, 160, 160);
}
